body {
  font-family: "Calibri", sans-serif;
}

header {
  display:inline-flex;
}

.title {
  padding-left: 5em;
}

a {
  text-decoration: none;
  color: #3333ff;
}

main {

}

footer {
  text-align: center;
}

h1 {
  color: #66CDAA;
  font-family: "Calibri", sans-serif;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
  h1 {
    color: #66CDAA;
    font-family: "Calibri", sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.black {
  color: black;
}

h2 {
  color: #66CDAA;
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  color: #66CDAA;
  text-align: justify;
}

h4 {
  color: red;
  font-family: "Calibri", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

h5 {
  color: black;
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  display: flex;
  padding-left: 0;
  margin-top: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  height: 60px;
  flex-grow: 1;
  text-align: center;
  background-color: #66CDAA;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: 5px solid white;
  transition: 1000ms;
}

@media screen and (max-width: 1100px) {
  ul {
    flex-direction: column;
  }
}

li a {
  color: white;
}

li a p {
  vertical-align: middle;
}

li a:hover {
  color: grey;
  transition: 500ms;
}

  main {
    width: 100%;
    min-width: 500px;
  }
}

.main-part {
  margin-top: 1em;
  border: 5px solid #66CDAA;
  border-radius: 50px;
  padding: 1em;
}

.ads {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-around;
  margin: 1em;
  row-gap: 1.5em;
}

.gridTemplateColumns1 {
  grid-template-columns: 90%;
}

.gridTemplateColumns2 {
  grid-template-columns: 45% 45%;
}

.gridTemplateColumns3 {
  grid-template-columns: 25% 25% 25%;
}

@media screen and (max-width: 1100px) {
  .ads {
    display: grid;
    grid-template-columns: 90%;
    margin: 1em;
  }
}

.ads__part {
  background-color: #66CDAA;
  border-radius: 15px;
}

@media screen and (max-width: 1100px) {
  .ads__part {
    min-height: 200px;
  }
}

.ads__part__main {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.ads__part__main img {
  width: 90%;
  border-radius: 10px;
}

.ads__part__main p {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 1em;
}

.contacts {
  width: 500px;
  height: 200px;
  margin-left: 1em;
}

.contacts p{
  text-align: justify;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}

.wrapper p {
  text-align: center;
}

.table {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 17px;
}

.main-stroke td {
  background-color: #66CDAA;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

tr {
}

td {
  border: 1px solid black;
  text-align: center;
}

@media screen and (max-width: 800px) {
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
  }
  .main-stroke td {
    background-color: #66CDAA;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    text-align: center;
  }
  td {
    border: 1px solid black;
    text-align: center;
    max-width: 150px;
  }


}

.general {
  border: 5px solid #66CDAA;
  border-radius: 15px;
  width: 90%;
  margin: 2em auto;
  text-align: justify;
}

.general__main {
  margin: 1em;
}

.general__main h3 {
  text-align: center;
}

.general__main a {
  text-decoration: underline;
  color: #3333ff;
}

.teachers-table td {
  height: 30px;
}

.teachers-table td:first-child {
  text-align: left;
  padding-left: 5px;  /* edited 30.08.21*/
}

.teachers-table-top {
  text-align: center;
  background-color: lightgrey;
}

.results tr[visible='false'],
.no-result {
  display: none;
}

.results tr[visible='true'] {
  display: table-row;
}

.searchCountDiv {
  margin-bottom: 1em;
  text-align: center;
}

.searchCount {
  padding: 8px;
  padding-bottom: 20px;
  color: black;
  text-decoration: underline;
}

.searchDiv {
  text-align: center;
}

.searchKey {
  text-align: center;
  font-weight: bold;
  height: 30px;
  width: 300px;
  margin: 1em auto;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.underline {
  text-decoration: underline;
}

.button-case {
  text-align: center;
  margin-bottom: 1em;
}

.button {
  width: 250px;
  height: 40px;
  background-color: #66CDAA;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  font-size: 15px;
}

.long-button {
  width: 50vw;
}

@media screen and (max-width: 1100px) {
  .long-button {
    width: 70vw;
  }
}

.center {
  text-align: center;
}

.dashed {
  border-bottom: 2px dashed black;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: none;
}

.upper-padding {
  padding-top: 1em;
}
